:root {
    --text: #000000;
}

/* CSS RESET */
body, header, nav, main {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow-x: hidden;
    
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* make it so the page is always at the center when zoomed out */
.page-container { 
    position: relative;
    width: 100%;
    margin: 0 auto;
}

/* NAV */
header {
    position: fixed;
    width: 100%;
    height: 5.312rem;
    background: #f6f6f6;
    transition: .3s ease;
    z-index: 1000;
}

.header-logo {
    width: 107px;
    height: 54px;
    flex-shrink: 0;
    position: absolute;
    margin-left: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    user-select: none;
    transition: .8s ease;
}

nav ul {
    display: flex;
    width: 25rem;
    justify-content: center;
    gap: 2.5rem;
    align-items: center;
    float: right;
    margin-top: 2rem;
    margin-right: 18.56rem;
}

nav ul li {
    list-style: none;
}

nav ul li a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: #000000;
    transition: 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a {
    position: relative;
    font-family: "League Spartan", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}

nav ul li a:hover {
    font-weight: 700;
}

.nav-page {
    font-weight: 700;
}

.header-cta {
    display: flex;
    width: 8rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border: none;
    background: #DDB892;
    border-radius: 0.625rem;

    font-family: "League Spartan", sans-serif;
    color: #65422D;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;

    position: absolute;
    right: 0;
    margin-left: 85%;
    margin-top: 1.06rem;
    margin-right: 7.5rem;
    margin-bottom: 1.13rem;
}

.header-cta:hover {
    background: #65422D;
    color: #DDB892;
    font-size: 1.3rem;
    transition: .2s ease;
}
/* NAV */


/* HERO */
.hero-div {
    position: relative;
    width: 100%;
    height: 46.875rem;
    overflow: hidden;
}
 /* for desktop DIPANALAGAY*/
.hero {
    position: absolute;
    z-index: -1;
    user-select: none;
    width: 100%;
    height: 100vh;
}

.hero-ins {
    position: relative;
    width: 90rem;
    margin: 0 auto;
}

.hero-in {
    position: absolute;
    width: 50.9375rem;
    height: 43.3125rem;
    right: 0;
    top: 5rem;
}

.hero-text {
    position: absolute;
    user-select: text;
}

.hero-text.btp {
    position: absolute;
    /* top: 10.5rem;
    left: 7.44rem;
    width: 25rem; DIPANALAGAY DESKTOP*/
    color: #ffffff;
    font-family: "League Spartan";
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28rem;
    border-bottom: #dfdfdf 0.3rem solid;
    padding-bottom: 0.91rem;
}

.hero-text.cap {
    position: absolute;
    /* top: 21.21rem;
    left: 7.75rem;
    width: 24.75rem; DIPANALAGAY DESKTOP */
    color: #DFDFDF;
    font-family: "League Spartan";
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.hero-cta {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 27.94rem;
    left: 7.56rem;
    width: 24.75rem;
    height: 3.125rem;
    justify-content: center;
    border-radius: 0.625rem;
    background: #DDB892;
    text-decoration: none;

    color: #65422D;
    text-align: center;
    font-family: "League Spartan";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}
.hero-cta.menu {
    top: 33.75rem;
    background: #ffffff;
}

.hero-cta:hover, .hero-cta.menu:hover{
    background: #65422D;
    color: #DDB892;
    font-size: 1.8rem;
    transition: .1s ease;
}

.blob {
    position: absolute;
    width: 100%;
    height: 9rem;
    top:39.8rem;
}

/* MENU SECTION */
.menu-section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 52.5rem;
    background: #F6F5F3;
    margin: 0;
}

.menu-section h2, .menu-section p.desc, img.bs-text {
    margin-left: 13%;
}

div.menu {
    margin: 0 12%;
    width: 90rem;
    height: 33rem;
    margin: 0 auto;
}


.menu-section h2 {
    padding-left: 0;
    color: #65422D;
    font-family: "League Spartan";
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.menu-section p {
    color: var(--text);
    font-family: "League Spartan";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu-items {
    position: absolute;
    display: inline-flex;
    align-items: center;
    gap: 4.9375rem;
    width: 76.3rem;
    height: 21.9rem;
    top: 8.31rem;
    border-radius: 0.875rem;
    left: 50%;
    transform: translateX(-50%);
}

div.menu-item {
    position: relative;
    width: 21.875rem;
    height: 21.875rem;
    border-radius: 0.875rem;
    background: #65422D;
    cursor: pointer;
}

div.menu-item:nth-child(2) {
    background: #DDB892;
}

.menu-container {
    position: relative;
    height: 17rem;
    width: 20rem;
    transition: .3s ease;
}

.menu-item.coffee img, .menu-item.croffles img, .menu-item.fruit-ades img {
    position: absolute;
    height: 15rem;
}

.menu-container .c1, .cr1, .fa1{
    position: absolute;
    left: 3.5rem;
    top: 3rem;
    right: 4rem;
    z-index: 1;
    transition: .3s ease;
}

.cr1 {
    scale: 1.2;
}

.cr2 {
    transform: rotate(-25deg);
    scale: 1.2;
    top: -1rem;
}

.fa2 {
    scale: 1.05;
}

.menu-container .c2, .cr2, .fa2{
    position: absolute;
    left: 0;
    top: 2rem;
    right: 4rem;
    z-index: 0;
    transition: .3s ease;
}

.menu-container .c3, .cr3, .fa3{
    position: absolute;
    left: 7rem;
    top: 2rem;
    right: 4rem;
    z-index: 0;
    transition: .3s ease;
}

.menu-container:hover {
    top: .5rem;
    scale: 1.2;
    transition: .3s ease-in-out;
}

.menu-container .c1:hover, .cr1:hover, .fa1:hover {
    top: 1rem;
    transition: .3s ease-in-out;
}

.menu-item h1 {
    position: absolute;
    width: 21.8rem;
    height: 4.88rem;
    top: 17rem;
    bottom: 1.56rem;
    text-align: center;
    color: #ffffff;
    font-family: "League Spartan";
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.34rem;
}

div.barista-special {
    display: flex;
    width: 90rem;
    margin: 1rem auto;
}

img.bs-text {
    width: 20rem;
    padding-top: 3rem;
    margin-left: 6rem;
    margin-right: 2rem;
}

.bs-items {
    display: flex;
    width: 100%;
}

.bs-item {
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 0.625rem;
    background: #806044;
    cursor: pointer;
    margin: 2rem;
    position: relative;
}

.bs-item:last-child {
    background: #9C6644;
    cursor: default;
}

p.bs-name {
    color: #000000;
    font-family: "League Spartan";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: -1rem 0 0 1rem;
}

img.bs-img {
    width: 7.32369rem;
    height: 9.77544rem;
    margin-left: .5rem;
    animation: bsi 5s linear infinite;
    user-select: none;
}

img.bs-img:hover {
    animation-play-state: paused;
    scale: 1.5;
}

/* Animation for the barista special drinks */
@keyframes bsi {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(30deg);
        scale: 1.2;
    }

    100% {
        transform: rotate(0deg);
    }
}

p.bs-price {
    position: absolute;
    width: 2.5625rem;
    height: 0.9375rem;
    color: #FFF;
    font-family: "League Spartan";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    top: 6.44rem;
    left: 6.31rem;
}

.bs-item.info {
    display: flex;
    width: 11rem;
    align-items: flex-start;
    align-content: flex-start;
    /* gap: 1.5625rem 0.875rem; */
    flex-wrap: wrap;
}

.bs-item p.info{
    margin-top: 0.15rem;
    width: 0;
}

.bs-item p.info {
    text-align: left;
    margin-left: .8rem;
    color: #ffffff;
    font-family: "League Spartan";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 43%;
}

.bs-item p.info.price {
    font-size: 1.5rem;
    text-align: right;
    margin-left: -.1rem;
}

/* What's new section */

div.whats-new {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 40.625rem;
    width: 100%;
    background: linear-gradient(180deg, #F6F5F3 0%, #908F8E 100%);
}

.wnl {
    margin: 0 4rem 0 12rem;
    height: 100%;
}

.whats-new h1 {
    color: #000000;
    font-family: "League Spartan";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 12rem;
    margin-left: -6rem;
    border-bottom: #000000 0.143rem solid;
}

.whats-new .pubmat {
    width: 28.375rem;
    height: 28.6875rem;
    margin-left: -9rem;
}

figcaption a {
    color: #000000;
    font-family: "Ubuntu", sans-serif;
    margin-left: -9rem;
    font-weight: 500;
}

.whats-new article {
    width: 33rem;
    height: 100%;
    margin-left: -12rem;
}

.whats-new article h2 {
    padding-top: 5rem;
    width: 32.9rem;
    color: #000000;
    font-family: "League Spartan";
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1rem;
}

.whats-new article .wncap {
    width: 25.25rem;
    height: 6.8125rem;
    padding-top: 1rem;
    flex-shrink: 0;
    color: #000000;
    font-family: "League Spartan";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
}

.wn-order {
    width: 100%;
    padding-top: 6rem;
    color: #000000;
    font-family: "League Spartan";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fp-cta {
    position: absolute;
    margin-top: -1rem;
    border-radius: 10px;
    transition: .3s ease;
}

.fp-cta:hover {
    transform: translateY(1rem);
    box-shadow: -12px -12px 2px 1px #D70F64;
    border-radius: 10px;
    transition: .3s ease;
}

/* GET IN TOUCH SECTION */
.get-in-touch {
    background: #DDB892;
}

.get-in-touch div{
    position: relative;
    width: 90rem;
    height: 23rem;
    background: #DDB892;
    margin: 0 auto;
}

.get-in-touch img {
    position: absolute;
    right: 0;
}

.get-in-touch p {
    position: absolute;
    width: 24.8125rem;
    top: 4.31rem;
    left: 7.06rem;
    color: #65422D;
    text-align: center;
    font-family: "League Spartan";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.get-in-touch a {
    position: absolute;
    width: 26.1rem;
    height: 7rem;
    top: 10.94rem;
    left: 6.37rem;
    padding-top: 1.75rem;
    background: #806044;
    border-radius: 0.6rem;
    text-decoration: none;
    color: #F6F6F6;
    text-align: center;
    font-family: "League Spartan";
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: .4s ease;
}

.get-in-touch a:hover {
    transform: translateX(2rem);
    box-shadow: -12px 18px 2px 1px #65422D;
    transition: .4s ease;
}

/* FOOTER */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 23.62rem;
    background: #9C6644;
}

footer ul li{
    list-style-type: none;
    padding-bottom: 1.25rem;
    color: #000000;
    font-family: "League Spartan";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-title {
    color: #000000;
    font-family: "League Spartan";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1rem;
}

footer ul li a {
    color: #ffffff;
    font-family: "League Spartan";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

a.footer-logo {
    width: 14.75rem;
    height: 8.75rem;
    display: flex;
    margin-left: 7rem;
    margin-top: 5rem;
}

.footer-logo img{
    width: 14.75rem;
    height: 8.75rem;
    margin-bottom: 5rem;
    user-select: none;
}

.footer-links {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    /* width: 51.25rem; */
    /* margin-left: 8.5rem; */
    margin-top: 1.97rem;
    margin-bottom: 3.3rem;
    margin-left: auto;
    margin-right: 7.5rem;
    gap: 6.25rem;
}

.footer-qac {
    /* padding: 2rem; */
    align-items: stretch;
    user-select: none;
}

.social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.social img:hover, .ffp:hover {
    scale: 1.2;
}

footer a:hover {
    color: #DDB892;
}

.footer-title {
    text-align: center;
}

.footer-email {
    text-decoration: none;
    color: #ffffff;
    font-family: "League Spartan";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ffp {
    width: 12.75rem;
    height: 3.4375rem;
    justify-content: center;
    align-items: center;
    fill: #ffffff;
}

.credits {
    display: block;
    width: 90%;
    height: 0.0625rem;
    margin-bottom: 3.37rem;
    border-top: #ffffff 0.0625rem solid;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    user-select: none;
}

/* FOOTER */




/* Mobile View Style */
/* @media screen and (min-width: 320px) { */
@media screen and (max-width: 601px) {

    .page-container { 
        position: relative;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
    }

    .desktop, .hero-in, .bs-item:last-child, .hero-coffee {
        display: none;
    }
    header {
        width: 100%;
        height: 3rem;
        background: #f6f6f6;
    }

    .header-logo {
        width: 4rem;
        height: 2rem;
        flex-shrink: 0;
        position: absolute;
        margin-left: 2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        user-select: none;
    }
    
    nav.mobile {
        width: 1.5rem;
        display: flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
        float: right;
        margin-right: 2rem;
    }

    .ham-menu {
        width: 1.5rem;
        height: 1rem;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .ham-menu span {
        width: 1.5rem;
        height: .17rem;
        background-color: #000000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        transition: .8s ease;
    }

    .ham-menu span:nth-child(1){
        top: 20%;
    }
    
    .ham-menu span:nth-child(3){
        top: 80%;
    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2){
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }

    .menu-overlay {
        top: 3rem;
        width: 100%;
        height: 100vh;
        transform: translateX(200vw);
        position: fixed;
        background-color: #f6f6f6;
        transition: .8s ease;
        z-index: 1;
    }

    .menu-overlay.active {
        transform: translateX(0);
    }

    .menu-overlay ul {
        position: absolute;
        margin-top: 4rem;
        padding: 0;
        margin-bottom: 0;
    }

    .menu-overlay ul li {
        list-style: none;
        padding-bottom: 3.75rem;
    }

    .menu-overlay ul li a {
        position: relative;
        font-family: "League Spartan", sans-serif;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        text-decoration: none;
        color: #000000;
    }

    .menu-overlay a {
        margin-left: 2rem;
    }

    .header-cta.mobile {
        /* width: 25.5rem; */
        position: relative;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24.5rem;
        font-size: 1.625rem;
        font-weight: 700;
    }

    .hero-div{
        width: 100vw;
        height: 50rem;
    }

    .hero-ins {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-text.btp{
        top: 12rem;
        margin: 0 auto;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero-text.cap {
        width: 24rem;
        text-align: center;
        top: 20rem;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.9rem;
    }
    
    .hero-cta {
        top: 30rem;
        height: 5rem;
        font-size: 2rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero-cta.menu {
        top: 39rem;
        font-size: 2rem;
    }

    .hero-phone {
        width: 100%;
        height: 100%;
    }

    .blob {
        top: 42rem;
    }

    .menu-section {
        width: 100%;
        height: 110rem;
        flex-direction: column;
    }

    .menu-section .menu {
        width: 90vw;
        margin: 0;
    }


    .menu-item {
        height: 40rem;
    }
    .menu-items {
        width: 90vw;
        height: 75rem;
        flex-direction: column;
    }

    div.barista-special {
        display: flex;
        width: 90vw;
        margin-top: 75rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bs-items {
        justify-content: center;
    }
    .bs-item {
        margin: 1rem;
        width: 7rem;
        height: 7rem;
    }

    p.bs-name {
        width: 10rem;
        margin-left: 0;
    }

    img.bs-img {
        width: 5rem;
        margin-top: -1.5rem;
    }

    p.bs-price {
        top: 4rem;
        left: 4rem;
    }

    div.whats-new {
        display: none;
    }

    .get-in-touch div {
        width: 100%;
        background: none;
    }

    .get-in-touch div.ctext {
        width: 90vw;
        top: 0;
    }

    .get-in-touch p {
        width: 80%;
        text-align: center;
        color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 5rem;
    }

    .get-in-touch a {
        width: 12rem;
        height: 3.5rem;
        padding-top: 1.2rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        top: 15rem;        
        right: 0;
        font-size: 1.5rem;
        left: 0;
        color: #65422D;
        background: #DDB892;

    }

    .get-in-touch a:hover {
        transform: translateY(1rem);
    }

    .get-in-touch div img:nth-child(1) {
        width: 100%;   
        height: 23rem;      
    }

    .get-in-touch div img:nth-child(2) {
        display: none;
    }

    footer {
        height: 150vh;
    }

    a.footer-logo {
        justify-content: center;
        width: 40vw;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-links {
        flex-direction: column;
    }

    .footer-nav {
        width: 90vw;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        justify-content: space-evenly;
        gap: 0
    }

    .footer-qac {
        width: 15rem;
    }

    footer ul {
        padding-left: 0;
        text-align: center;
    }

}

/* Tablet View Style */
@media screen and (min-width: 602px) {
    .desktop, .hero-phone, .bs-item:last-child{
        display: none;
    }

    .page-container { 
        position: relative;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
    }

    header {
        width: 100%;
        height: 3rem;
        background: #f6f6f6;
    }

    .header-logo {
        width: 4rem;
        height: 2rem;
        flex-shrink: 0;
        position: absolute;
        margin-left: 2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        user-select: none;
    }
    
    nav.mobile {
        width: 1.5rem;
        display: flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
        float: right;
        margin-right: 2rem;
    }

    .ham-menu {
        width: 1.5rem;
        height: 1rem;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .ham-menu span {
        width: 1.5rem;
        height: .17rem;
        background-color: #000000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        transition: .8s ease;
    }

    .ham-menu span:nth-child(1){
        top: 20%;
    }
    
    .ham-menu span:nth-child(3){
        top: 80%;
    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2){
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }

    .menu-overlay {
        top: 3rem;
        width: 100%;
        height: 100vh;
        transform: translateX(200vw);
        position: fixed;
        background-color: #f6f6f6;
        transition: .8s ease;
        z-index: 1;
    }

    .menu-overlay.active {
        transform: translateX(0);
    }

    .menu-overlay ul {
        position: absolute;
        margin-top: 4rem;
        padding: 0;
        margin-bottom: 0;
    }

    .menu-overlay ul li {
        list-style: none;
        padding-bottom: 3.75rem;
    }

    .menu-overlay ul li a {
        position: relative;
        font-family: "League Spartan", sans-serif;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        text-decoration: none;
        color: #000000;
    }

    .menu-overlay a {
        margin-left: 2rem;
    }

    .header-cta.mobile {
        /* width: 25.5rem; */
        position: relative;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24.5rem;
        font-size: 1.625rem;
        font-weight: 700;
    }

    .hero-div {
        height: 70rem;
        width: 100vw;
    }

    @keyframes coffee {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(-40deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    .hero-text.btp{
        color: #65422D;
        border-bottom-color: #65422D;
        top: 6rem;
    }

    .hero-text.cap {
        color: #806044;
        top: 17rem;
    }

    .hero-cta {
        top: 24rem;
    }

    .hero-cta.menu {
        background-color: #DDB892;
        top: 30rem;
    }

    .hero-in {
        position: absolute;
        width: 35.5rem;
        height: 30.75rem;
        border-radius: .6rem;
        top: 36rem;
        left: 15%;
    }

    .hero-coffee {
        position: absolute;
        left: 35rem;
        top: 5rem;
        transform: rotate(-30deg);
        animation: coffee 5s ease infinite;
    }

    .blob {
        top: 20rem;
    }

}


/* Desktop View Style */
@media screen and (min-width: 1024px) {

    
    .mobile, .hero-coffee {
        display: none;
    }
    .desktop {
        display: block;
    }
    header {
        height: 5.312rem;
    }
    .header-logo {
        width: 107px;
        height: 54px;
        margin-left: 5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .blob {
        top: 37.2rem;
        height: 12rem;
    }

    .hero-div {
        height: 46.875rem;        
        position: relative;
    }
    
    .hero-text.btp{
        color: #ffffff;
        border-bottom-color: #dfdfdf;
    }

    .hero-cta.menu {
        background-color: #ffffff;
    }

    .hero-in {
        display: block;
        position: absolute;
        width: 50.9375rem;
        height: 43.3125rem;
        right: 0;
        left: auto;
        top: 4rem;

    }

    .hero-text.cap {
        color: #dfdfdf;
    }


        
}

/* LARGE DESKTOP VIEW */
@media screen and (min-width: 1920px) {
    .hero-in {
        right: -12vw;
        width: 65%;
    }

    .hero-text {
        scale: 1.2;
        margin-left: 2rem;
    }
    .hero-text.cap {
        top: 22rem;
    }

    .hero-cta {
        scale: 1.2;
        top: 28rem;
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .get-in-touch div {
        right: -5rem;
    }
}